.miFooter {
    width: 100%;
    background-color: #242832;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

/* Información de la página */
.div_info {
    display: flex;
    flex-direction: column;
}

.info_link {
    text-decoration: none;
    color: #EDF1F5;
}

.info_link:hover {
    color: rgba(0, 238, 255, 0.574);
    text-decoration: underline;
}

/* Iconos de redes sociales */
.icono_link {
    color: #EDF1F5;
    font-size: 24px;
}

.icono_link:hover {
    color: rgba(0, 238, 255, 0.574);
}