body{
    color: white;
    font-family: Roboto;
    width: 100%;
}

.div_juegos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo_buscador {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.buscador {
    width: 400px;
    height: 50px;
}

.btn_buscar {
    height: 50px;
}

/* Contenedor de juegos */
.juegos_container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imagen_tarjeta {
    width: 270px;
    height: 150px
}

/* ************************* */

/* Contenedor de botones */
.botones__container {
    /* border: 1px solid red; */
    width: 1200px;
    margin: 0 auto;
}

/* ****************************** */

/* Breakpoints */

/* Breakpoint a 850px */
@media (min-width: 850px) {
    .buscador {
        width: 500px;
    }
}