body{
    color: white;
    font-family: Roboto;
    width: 100%;
}

.div_juegos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo_buscador {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.buscador {
    width: 400px;
    height: 50px;
}

.btn_buscar {
    height: 50px;
}

.imagen_tarjeta {
    width: 270px;
    height: 150px
}

/* ************************* */

/* Contenedor botones para ir a páginas */
.botones__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boton__pagina {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    background-color: #242832;
}

.boton__pagina:hover {
    cursor: pointer;
    color: red;
}

/* ****************************** */

/* Breakpoints */

/* Breakpoint a 850px */
@media (min-width: 850px) {
    .buscador {
        width: 500px;
    }
}