.titulo_buscador {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario {
    margin: 0 auto;
}

.buscador {
    margin-left: 10px;
}

.container_juego {
    width: 100%;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "imagen_rating" 
    "info_juego"
    ;
}

/* Imagen del juego y su rating */
.imagen_rating {
    grid-area: imagen_rating;
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mi_card {
    border: none;
    background-color: #16181C;
}

.imagen_tarjeta {
    margin: 0 auto;
    width: 300px;
    height: 200px
}

.rating {
    /* border: 1px solid red; */
    border-radius: 5%;
    background-color: #242832;
    margin: 0 auto;
    width: 300px;
}

.borde_rating {
    border-bottom: 1px solid white;
    margin-left: 10px;
    margin-right: 10px;
}

.lista_sin_estilo {
    list-style: none;
}

.enlace_metacritic {
    text-decoration: none;
    background-color: white;
    border-radius: 50%;
}

/* Información del juego */
.info_juego {
    grid-area: info_juego;
    /* width: 50%; */
}

.descripcion {
    padding-left: 10px;
    padding-right: 10px;
}

.div_plataformas_generos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.div_plataformas {
    width: 200px;
}

.div_generos {
    width: 200px;
}

/* Modal que tiene un formulario */
.modal_trigger {
   width: 50%;
   margin: 0 auto;
}

/* Breakpoints */
@media (min-width: 768px) {
    .buscador {
        width: 400px;
        margin-left: 0px;
    }

    .container_juego {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "imagen_rating info_juego"
    }

    .titulo_buscador {
        /* border: 1px solid red; */
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}